server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /usr/share/nginx/html;
    index index.jpg;

    server_name _;

    location / {
        try_files $uri $uri/ =404;
    }

    location /index.jpg {
        add_header Cache-Control no-cache;
    }
}
